<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user %></h1>
    <p>
      You created a notification that you want to follow up on the entry: <%= @notify %>.<br/>
    </p>

    <p>Thanks for using Tucan!</p>
  </body>
</html>
