<body class="bg">
<h3 style="position:fixed;font-family: 'Alegreya Sans'; margin-top: -55px; margin-left: 20%; z-index:1001;">You Can With Tucan</h3>
<div style="text-align: center; margin-top:30px;">
  <%= button_to "Text Input", { :action => "new" }, :method => :get %>
</div>
<%= render "shared/speechinput" %>

<%= form_for Entry.new, remote: true do |f| %>

  <%= f.submit "Entry" %>
<% end %>
</body>

